  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  @import url(./normalize.css);
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

  :root {
      --green: #0e6453;
      --black: #444;
      --light-color: #585858;
      --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
      --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
      --border: .2rem solid var(--green);
  }

  * {
      font-family: 'poppins', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      outline: none;
      border: none;
      text-decoration: none;
  }



  html {
      font-size: 62.5%;
      overflow-x: hidden;
      scroll-padding-top: 7rem;
      scroll-behavior: smooth;
  }


  section {
      padding: 2rem 9%;
  }

  section:nth-child(even) {
      background: #f5f5f5;
  }

  .heading {
      text-align: center;
      padding-bottom: 2rem;
      text-shadow: var(--text-shadow);
      text-transform: uppercase;
      color: var(--black);
      font-size: 5rem;
      letter-spacing: .4rem;
      margin-top: 60px;
  }

  .heading span {
      text-transform: uppercase;
      color: var(--green);

  }

  .btn {
      display: inline-block;
      margin-top: 1rem;
      margin-left: 4rem;
      padding: .5rem;
      padding-left: 1rem;
      border: var(--border);
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      color: var(--green);
      cursor: pointer;
      font-size: 1.7rem;
      background: #fff;
  }

  .btn span {
      padding: .7rem 1rem;
      border-radius: .5rem;
      background: var(--green);
      color: #fff;
      margin-left: .5rem;
  }

  .btn:hover {
      background: var(--green);
      color: #fff;
  }

  .btn:hover span {
      color: var(--green);
      background: #fff;
      margin-left: 1rem;
  }

  .header {
      padding: 2rem 9%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
  }

  .header .logo {
      font-size: 2.5rem;
      color: var(--black);
      width: 94px;
  }

  .header .logo i {
      color: var(--green);
  }

  .header .navbar a {
      font-size: 1.7rem;
      color: var(--light-color);
      margin-left: 2rem;
      padding: .5rem;
  }

  .header .navbar a:hover {
      color: var(--green);
  }






  .home {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding-top: 10rem;
  }

  .home .image {
      flex: 1 1 45rem;
  }

  .home .image img {
      width: 100%;
  }

  .home .content {
      flex: 1 1 45rem;
  }

  .home .content h3 {
      font-size: 4.5rem;
      color: var(--black);
      line-height: 1.8;
      text-shadow: var(--text-shadow);
  }

  .home .content p {
      font-size: 1.7rem;
      color: var(--light-color);
      line-height: 1.8;
      padding: 1rem 0;
  }


  .icons-container {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      padding-top: 5rem;
      padding-bottom: 5rem;
  }

  .icons-container .icons {
      border: var(--border);
      box-shadow: var(--box-shadow);
      border-radius: .5rem;
      text-align: center;
      padding: 2.5rem;
  }

  .icons-container .icons i {
      font-size: 4.5rem;
      color: var(--green);
      padding-bottom: .7rem;
  }

  .icons-container .icons h3 {
      font-size: 4.5rem;
      color: var(--black);
      padding: .5rem 0;
      text-shadow: var(--text-shadow);
  }

  .icons-container .icons p {
      font-size: 1.7rem;
      color: var(--light-color);

  }

  /* service section start */

  .services .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
      gap: 5rem;
      align-content: center;
  }

  .services .box-container .box {
      background: #fff;
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      border: var(--border);
      padding: 2.5rem;
  }

  .services .box-container .box i {
      color: var(--green);
      font-size: 5rem;
      padding-bottom: .5rem;
  }

  .services .box-container .box h3 {
      color: var(--black);
      font-size: 2.5rem;
      padding: 1rem 0;
  }

  .services .box-container .box p {
      color: var(--light-color);
      font-size: 1.4rem;
      line-height: 2;
      text-align: justify;
      text-justify: inter-word;
  }

  /* Services section end */


  /* doctor section start */

  .doctors .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      gap: 2rem;
  }

  .doctors .box-container .Box {
      text-align: center;
      background: #fff;
      border-radius: .5rem;
      border: var(--border);
      box-shadow: var(--box-shadow);
      padding: 2rem;
  }

  .doctors .box-container .Box img {
      height: 20rem;
      border: var(--border);
      border-radius: .5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
  }

  .doctors .box-container .Box h3 {
      color: var(--black);
      font-size: 2.5rem;
  }

  .doctors .box-container .Box span {
      color: var(--green);
      font-size: 1.5rem;
  }

  .doctors .box-container .Box .share {
      padding-top: 2rem;
  }

  .doctors .box-container .Box .share a {
      height: 5rem;
      width: 5rem;
      line-height: 4.5rem;
      font-size: 2rem;
      color: var(--green);
      border-radius: .5rem;
      border: var(--border);
      margin: .3rem;
  }

  .doctors .box-container .Box .share a:hover {
      background: var(--green);
      color: #fff;
      box-shadow: var(--box-shadow);
  }

  /* doctor section end */

  /* about page */
  .about .row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
  }

  .about .row .image {
      flex: 4 1 45rem;
  }

  .about .row .image img {
      width: 100%;
  }

  .about .row .content {
      flex: 1 2 45rem;
  }

  .about .row .content h3 {
      color: var(--black);
      text-shadow: var(--text-shadow);
      font-size: 4rem;
      line-height: 1.8;
  }

  .about .row .content p {
      color: var(--light-color);
      padding: 1rem 0;
      font-size: 1.5rem;
      line-height: 1.8;
      text-align: justify;
      text-justify: inter-word;
  }

  /* hospital detail and doctor details section start */




  .content-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    padding: 0.060rem 3.75rem;
  }
  
  .checked {
    color: var(--green);
  }
  
  .main {
    margin-left: 3rem;
    padding: 0 2rem;
  }
  
  .main-img {
    width: 400px;
    margin-top: 22rem;
    border-radius: 20px;
    margin-left: 2rem;
  }
  
  .bottom-images {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    max-width: 500px;
  }
  
  .small-image:hover {
    transform: scale(1.1);
    transition: 0.3s;
    border: 1rem solid var(--green);
    border-radius: 0.5rem;
  }
  
  .small-image {
    width: 100px;
    margin-top: 30px;
    border-radius: 10px;
  }
  
  .aside {
    max-width: 500px;
    width: 500px;
    margin: 70px 20px 0 20px;
    padding-left: 2rem;
  }
  
  .aside-content {
    height: 300px;
  }
  
  .aside-content-parah {
    color: var(--green);
    padding: 50px 50px 15px 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 15px;
  }
  
  .about {
    margin-top: 40px;
    margin-left: -40px;
  }
  
  .aside-content h2 {
    font-size: 16px;
    padding: 10px 20px 50px 50px;
    margin-left: 8rem;
  }
  
  .aside-content p:last-child {
    font-size: 16px;
    padding: 0 20px 50px 50px;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .exp {
    margin-top: -45px;
    color: #0e6453;
    font-size: 16px;
  }
  
  .details {
    margin-left: -50px;
    -webkit-line-clamp: 2;
  }
  
  .value {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .value h2 {
    padding: 20px 20px 20px 50px;
    font-size: 30px;
  }
  
  .value h3 {
    padding: 5px 10px;
    background-color: hsl(25, 100%, 94%);
    color: var(--green);
    font-size: 15px;
    border-radius: 5px;
    font-weight: bolder;
  }
  


  /* booking section start */


  .book .row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
  }

  .book .row .image {
      flex: 1 1 45rem;
  }

  .book .row .image img {
      width: 100%;
  }

  .book .row form {
      flex: 1 1 45rem;
      background: #fff;
      border: var(--border);
      box-shadow: var(--box-shadow);
      text-align: center;
      padding: 2rem;
      border-radius: .5rem;
  }

  .book .row form h3 {
      color: var(--black);
      padding-bottom: 1rem;
      font-size: 3rem;
  }

  .book .row form .box {
      width: 100%;
      margin: .7rem 0;
      border-radius: .5rem;
      border: var(--border);
      font-size: 1.6rem;
      color: var(--black);
      text-transform: none;
      padding: 1rem;
  }

  .book .row form .btn {
      padding: 1rem 4rem;

  }

  /* footer section start */


  .footer .box-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
      gap: 5rem;

  }

  .footer .box-container .box h3 {
      font-size: 2.5rem;
      color: var(--black);
      padding: 1rem 0;
  }

  .footer .box-container .box a {
      display: block;
      font-size: 1.5rem;
      color: var(--light-color);
      padding: 1rem 0;
  }

  .footer .box-container .box a i {
      padding-right: .5rem;
      color: var(--green);
  }

  .footer .box-container .box a:hover i {
      padding-right: 1rem;
  }

  .footer .credit {
      padding: 1rem;
      padding-top: 2rem;
      margin-top: 2rem;
      text-align: center;
      font-size: 2rem;
      color: var(--light-color);
      border-top: .1rem solid rgba(0, 0, 0, .1);
  }

  .footer .credit span {
      color: var(--green);
  }



  /* login section start */

  .center {

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 45rem;
      height: 38rem;
      border: 2px solid var(--green);
      background-color: white;
      border-radius: 0.625rem;
      padding: 1.625rem 3.25rem 1.625rem 3.625rem;
      box-shadow: var(--box-shadow);
  }

  .center h1 {
      text-align: center;
      margin-top: 0.625rem;
      padding: 0 0 1.25rem 0;

  }

  .center form {
      padding: 0 2.5rem;
      box-sizing: border-box;
  }

  form .text_field {
      position: relative;
      border-bottom: 0.125rem solid #adadad;
      margin: 5rem 0;
  }

  .text_field input {
      margin-top: 1.25rem;
      width: 100%;
      padding: 0 0.313rem;
      height: 3rem;
      font-size: 2rem;
      border-bottom: 0.063rem solid green;
      background: none;
      outline: none;

  }

  .text_field label {
      color: #adadad;
      transform: translateY(-40%);
      font-size: 2rem;
      pointer-events: none;
      transition: .5s;
  }

  .text_field span::before {
      content: '';
      position: absolute;
      top: 2.5rem;
      left: 0;
      width: 0%;
      height: 0.063rem;
      transition: .5s;
  }

  .text_field input:focus~label,
  .text_field input:valid~label {

      top: -0.313rem;
      color: var(--green);
  }


  .pass {
      margin: 3rem 0 1.25rem 0.313rem;
      color: var(--green);
      cursor: pointer;
      font-size: 1.5rem;

  }

  .pass:hover {
      text-decoration: underline;


  }

  input[type="submit"] {
      width: 100%;
      height: 4.125rem;
      border: 0.063rem solid;
      background: var(--green);
      border-radius: 1.563rem;
      font-size: 2rem;
      color: white;
      font-weight: 700;
      cursor: pointer;
      outline: none;
      margin-top: 2rem;

  }

  input[type="submit"]:hover {
      border-color: var(--green);
      transition: .5s;

  }

  .signup_link {
      margin: 1.875rem 0;
      text-align: center;
      font-size: 1.625rem;
      color: #666666;
  }

  .signup_link a {
      color: var(--green);
      text-decoration: none;

  }

  .signup_link a:hover {
      text-decoration: underline;
  }


  .footer-1 .box-container-1 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
      gap: 5rem;
      border-top: 1px solid var(--green);
      margin-left: -3rem;
  }

  .footer-1 .box-container-1 .box h3 {
      font-size: 2.5rem;
      color: var(--black);
      padding: 1rem 0;

  }

  .footer-1 .box-container-1 .box a {
      display: block;
      font-size: 1.5rem;
      color: var(--light-color);
      padding: 1rem 0;
  }

  .footer-1 .box-container-1 .box a i {
      padding-right: .5rem;
      color: var(--green);
  }

  .footer-1 .box-container-1 .box a:hover i {
      padding-right: 1rem;
  }

  /* hospital details */

  .content-2 {
      display: flex;
      flex-direction: row;
      margin: 80px 100px 20px 150px;
  }

  .main-2 {
      padding: 0 40px;
  }

  .main-img-2 {
      width: 500px;
      border-radius: 20px;
      margin-top: 10px;
  }

  .bottom-images-2 {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-between;
      max-width: 500px;
  }

  .small-image-2 {
      width: 100px;
      margin-top: 30px;
      border-radius: 10px;
  }

  .aside-2 {
      max-width: 500px;
      width: 500px;
      margin: 68px 22px 0 20px;
      padding-top: 13rem;
      padding-right: 2rem;
  }

  .aside-content-2 {
      height: 300px;
  }

  .aside-content-parah-2 {
      color: var(--green);
      padding: 50px 50px 15px 50px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 15px;
      text-align: justify;
      text-justify: inter-word;
  }

  .aside-content-2 h2 {
      font-size: 40px;
      padding: 10px 20px 50px 50px;
  }

  .aside-content-2 p:last-child {
      font-size: 16px;
      padding: 0 20px 50px 50px;
  }

  .value-2 {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .value-2 h2 {
      padding: 20px 20px 20px 50px;
      font-size: 30px;
  }

  .value-2 h3 {
      padding: 5px 10px;
      background-color: hsl(25, 100%, 94%);
      color: var(--green);
      font-size: 15px;
      border-radius: 5px;
      font-weight: bolder;
  }

  .value-stricked-2 {
      padding-left: 50px;
      opacity: 0.4;
      font-weight: bold;
  }



  /* profile page section starts */

  #text {
      margin-top: 20px;

  }

  .profile__content {
      width: 100%;
      padding: 18px 120px;
      box-sizing: border-box;
      margin-top: 200px;
      margin-left: 20rem;
  }

  .section__row__column {
      display: inline-block;
      vertical-align: top;
      width: 240px;
      margin-right: 60px;
  }

  .section__row__column {
      display: inline-block;
      vertical-align: top;
      width: 240px;
      margin-right: 60px;
  }


  .section__row__column .c-input {
      margin-top: 22px;
      margin-bottom: 22px;
  }

  .c-input {
      display: inline-block;
      position: relative;
  }

  .section__row__column .c-input {
      margin-top: 22px;
      margin-bottom: 22px;
  }

  .c-input--select {
      width: 240px;
  }

  .c-input {
      display: inline-block;
      position: relative;
  }

  .user-profile__content__section__header {
      font-size: 14px;
      line-height: 20px;
      color: var(--green);
      margin-bottom: 10px;
  }


  .section__row__column .c-input {
      margin-top: 31px;
      margin-bottom: 13px;
  }

  .c-input {
      display: inline-block;
      position: relative;
  }

  .c-input--text input[type=text] {
      color: var(--green);
      height: 34px;
      width: 240px;
      padding: 6px 10px;
      font-size: 20px;
      font-family: Lato;
      line-height: 20px;
      border: 1px solid #CACAD3;
      box-sizing: border-box;
      box-shadow: none;
      border-radius: 2px;
      margin: 0;
  }

  .c-input label {
      font-size: 16px;
      line-height: 20px;
      color: var(--green);
      margin-bottom: 2px;
      display: inline-block;
      position: absolute;
      top: -22px;
      left: 0;
  }

  .c-input--text input[type=text] {
      color: var(--green);
      height: 34px;
      width: 240px;
      padding: 6px 10px;
      font-size: 13px;
      font-family: Lato;
      line-height: 20px;
      border: 1px solid #CACAD3;
      box-sizing: border-box;
      box-shadow: none;
      border-radius: 2px;
      margin-top: 2rem;
  }

  .o-profile-photo {
      width: 262px;
      margin-bottom: 4px;
  }

  img {
      width: auto\9;
      height: auto;
      max-width: 100%;
      vertical-align: middle;
      border: 0;
      -ms-interpolation-mode: bicubic;
  }

  .o-profile-photo img {
      background-color: white;
      max-width: 6.25rem;
      max-height: 6.25rem;
  }

  .o-profile-photo__desc {
      position: relative;
      top: 0.125rem;
      display: inline-block;
      width: 9.25rem;
      padding-left: 0.625rem;
  }

  .o-profile-photo__desc__actions input[type=button] {
      border: none;
      padding: 5px 2px;
      color: var(--green);
      background: none;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.25rem;
      margin-right: 0.625rem;
      margin-left: -14px;
  }

  .btn-1 {
      display: inline-block;
      margin-top: 1rem;
      margin-left: 60rem;
      margin-bottom: 4rem;
      padding: .5rem;
      padding-left: 1rem;
      border: var(--border);
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      color: var(--green);
      cursor: pointer;
      font-size: 1.7rem;
      background: #fff;
  }

  .btn-1 span {
      padding: .7rem 1rem;
      border-radius: .5rem;
      background: var(--green);
      color: #fff;
      margin-left: .5rem;
  }

  .btn-1:hover {
      background: var(--green);
      color: #fff;
  }

  .btn-1:hover span {
      color: var(--green);
      background: #fff;
      margin-left: 1rem;
  }

  .profile_name {
      margin-right: 22rem;
      font-size: 1rem;
      margin-bottom: 0.625rem;
  }

  /* profile page section ends */

  /* dropdown section start */
  .dropbtn {
      background-color: white;
      color: white;
      font-size: 1rem;
      border: none;
      
  }


  .dropdown {
      position: relative;
      display: inline-block;
      padding: 0%;
  }


  .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 6.25rem;
      box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
      z-index: 1;
  }


  .dropdown-content a {
      color: black;
      padding: 0.75rem 1rem;
      text-decoration: none;
      display: block;
  }


  .dropdown-content a:hover {
      background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  .dropdown:hover .dropbtn {
      background-color: white;
  }

  /* dropdown section ends  */


  /* past appointment section starts */

  table {
      font-family: poppins, sans-serif;
      border-collapse: collapse;
      width: 100%;
      font-size: 0.875rem;
  }

  td,
  th {
      border: 1px solid var(--light-color);
      text-align: left;
      padding: 0.75rem;
      font-size: 2rem;
  }

  tr:nth-child(even) {
      background-color: #dddddd;
  }


  .btn-2 {
      display: inline-block;
      margin-top: .7rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      padding: .7rem;
      padding-left: 1rem;
      border: var(--border);
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      color: var(--green);
      cursor: pointer;
      font-size: 1rem;
      background: #fff;
  }

  .btn-2 span {
      padding: .7rem 1rem;
      border-radius: .5rem;
      background: var(--green);
      color: #fff;
      margin-left: .5rem;
  }

  .btn-2:hover {
      background: var(--green);
      color: #fff;
  }

  .btn-2:hover span {
      color: var(--green);
      background: #fff;
      margin-left: 1rem;
  }


  .home-1 {
      margin-top: 3.125rem;

  }

  /* past appointment section ends */


  .table-2 {
      font-family: 'poppins', sans-serif;
      border-collapse: collapse;
      width: 100%;
      font-size: 0.875rem;
      margin-top: 2rem;
      height: 100%;

  }

  .th {
      border: none;
      text-align: left;
      padding: 0;
  }

  .table {
      margin-top: 2rem;
      /* margin-left: 39rem; */
      padding-bottom: 13rem;
      padding-top: 3rem;
  }




  .filter {
      margin-top: -2rem;
      margin-bottom: 5rem;
      margin-left: 20rem;
  }

  .filter-1 {
      margin-top: -2rem;
      margin-bottom: 5rem;
      margin-left: 25rem;
  }

  .wrapper {
      width: 95%;
      margin-left: 5rem;
  }

  #search-container {
      margin: 1rem;
      margin-left: -4.5rem;
  }

  #search-container input {
      background-color: transparent;
      width: 40%;
      border-bottom: 2px solid var(--green);
      padding: 1rem 0.3rem;
      font-size: 1.3rem;
  }

  #search-container input:focus {
      border-bottom-color: #0e6453;
  }

  #search-container button {
      padding: 1rem 2rem;
      margin-left: 1rem;
      background-color: var(--green);
      color: white;
      border-radius: 5px;
      margin-top: .5rem;
  }

  .wrapper-1 {
      margin-top: 2rem;
      /* margin-left: 9rem; */
  }

  .button-value {

      border: 2px solid var(--green);
      padding: 1rem 2.2rem;
      border-radius: 3rem;
      background-color: transparent;
      color: #0e6453;
      cursor: pointer;
      margin: .5rem;
  }

  .active {
      background-color: #0e6453;
      color: white;
  }

  #menu-btn {
      font-size: 2.5rem;
      border-radius: .5rem;
      background: #eee;
      color: var(--green);
      padding: 1rem 1.5rem;
      cursor: pointer;
      display: none;
  }

  #apollo-hospital-1 {
      margin-left: 13rem;
  }

  #btn {
      margin-right: -7rem;
  }

  #aside-2 {
      max-width: 500px;
      width: 500px;
      margin: -81px 22px 0 20px;
      padding-top: 13rem;
      padding-right: 2rem;
  }




  /* media queries  */

  @media (max-width:768px) {

      #menu-btn {
          display: initial;
      }

      .header .navbar {
          position: absolute;
          top: 115%;
          right: 2rem;
          border-radius: .5rem;
          box-shadow: var(--box-shadow);
          width: 30rem;
          border: var(--border);
          background: #fff;
          transform: scale(0);
          opacity: 0;
          transform-origin: top right;
          transition: none;
      }

      .header .navbar.active {
          transform: scale(1);
          opacity: 1;
          transition: .2s ease-out;
      }

      .header .navbar a {
          font-size: 2rem;
          display: block;
          margin: 2.5rem;
      }

  }

  @media (max-width:450px) {

      html {
          font-size: 50%;
      }

      .filter-1 {
          margin-left: 2rem;
          width: 100%;
      }


      table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
      }

      th,
      td {
          text-align: left;
          padding: 8px;
      }

      #past {
          margin: auto;
      }

      #search-container {
          width: 90%;
          margin: 0;
          margin-left: -8rem;

      }

      .wrapper-1 {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
          margin-left: -10rem;
          margin-right: 3rem;

      }

      .content-1 {

          width: 100%;
          margin-left: -3rem;
      }

      .aside {
          width: 100%;
          margin-left: 3rem;
          text-align: center;
          margin-top: auto;
      }

      .main-img {
          width: 90%;
          margin-left: 3rem;
      }

      #ajun_details {
          margin-top: 5rem;
          margin-right: 7rem;
      }

      #sesslyn_details {
          margin-top: 10rem;
          margin-right: 7rem;
      }

      #kishore_details {
          margin-top: 12rem;
          margin-right: 7rem;
      }

      #raj_details {
          margin-top: 12rem;
          margin-right: 7rem;
      }

      #meena_details {
          margin-top: 17rem;
          margin-right: 7rem;
      }

      #uthra_details {
          margin-top: 12rem;
          margin-right: 7rem;
      }

      #pks_details {
          margin-top: 12rem;
          margin-right: 7rem;
      }

      #search-container input {
          width: 20rem;
          margin-left: -3rem;

      }

      #search-container button {
          margin-left: 3rem;
          margin-top: 1rem;
      }

      #apollo-hospital-1 {
          width: 70%;
          margin-left: 10rem;
      }

      #main {
          margin: 0;
          padding: 0;
      }

      .bottom-images {
          display: none;
      }

      .aside-2 {
          margin-left: -14rem;
          text-align: center;
          margin-top: -13rem;
      }

      .aside-content p:last-child {
          font-size: 16px;
          /* padding: 10px 84px 62px 54px; */
          text-align: justify;
          text-justify: inter-word;
          margin-left: 8rem;
      }

      #ajun-details {
          margin-left: -3rem;
          text-align: justify;
          text-justify: inter-word;
          margin-top: 2rem;
      }

      #details {
          text-align: justify;
          text-justify: inter-word;
          padding: 2rem 4rem 2rem 10rem;
      }

      #apollo-heading {
          text-align: center;
          margin-left: 15rem;
      }

      #parah {
          text-align: center;
          margin-left: 15rem;
      }

      .main-img-2 {
          width: 100%;
          margin-top: 14rem;
      }

      .aside-content-parah-2 {
          text-align: center;
      }

      #gem-heading {
          text-align: justify;
          text-justify: inter-word;

          padding: 0rem 5rem 4rem 20rem;
      }

      #gem-hospital {
          margin-top: 12rem;
      }

      #h1 {
          text-align: center;
          margin-left: 8rem;
      }

      #billroth {
          width: 90%;
          margin-left: 1rem;
      }

      .main-img-2 {
          width: 90%;
          margin-top: 14rem;
      }

      .about .row .content h3 {
          text-align: center;
      }

      .about .row .content p {
          text-align: justify;
          text-justify: inter-word;
          margin-left: 3rem;
      }


      .profile__content {
          margin-left: -18rem;

      }

      .btn-1 {
          margin-left: 19rem;
          margin-top: -30rem;
      }

      .o-profile-photo {
          width: 100%;
          margin-left: 12rem;
          margin-bottom: 5rem;
      }

      .o-profile-photo__desc__actions input[type=button] {
          font-size: 1rem;
      }

      #home {
          width: fit-content;
      }

      #srm-heading {
          text-align: center;
          margin-left: -9rem;
      }

      #para {
          text-align: center;
          /* margin-left: 2rem; */

      }

      /* #srm-details{
        margin-left: 7rem;
        margin-right: 4rem;
        width: 100%;
        height: 100%;
        padding-right: 4rem;
        text-align: justify;
        text-justify: inter-word;
        margin-left: auto;


     } */


      #apollo-heading-1 {
          text-align: center;
          margin-left: 15rem;
      }



  }








  /* Default styles */

  div.signin {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: aliceblue;
  }

  .container {
      width: 100%;
      display: flex;
      max-width: 850px;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      margin-top: 3rem;
      margin-left: 0rem;
  }

  .login {
      width: 400px;
  }

  form {
      width: 250px;
      margin: 60px auto;
  }

  h1 {
      margin: 20px;
      text-align: center;
      font-weight: bolder;
      text-transform: uppercase;
  }

  p {
      text-align: center;
      margin: 10px;
  }

  hr {
      border-top: 2px solid #0e6453;
  }

  .pic img {
      width: 450px;
      height: 100%;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
  }

  form label {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 5px;
  }

  input {
      width: 100%;
      margin: 2px;
      border: none;
      outline: none;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid gray;
      font-size: 1rem;
  }

  button {
      border: none;
      outline: none;
      padding: 8px;
      width: 252px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      margin-top: 20px;
      border-radius: 5px;
      background: #0e6453;
  }
  #dropdtn{
    width: 40px;
  }

  button:hover {
      background: rgba(214, 86, 64, 1);
  }

  p {
      margin: 20px;
  }

  a {
      color: black;
      text-decoration: none;
  }

      /* Style the select box */
#blood_group {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  /* Style the options */
  #blood_group  option {
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
  
  /* Style the selected option */
  #blood_group option:checked {
    background-color: #007bff;
    color: #fff;
  }



  
  
  /* Style the options */
  #gender {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
  }
  
  /* Style the options */
  #gender  option {
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
  
  /* Style the selected option */
  #gender option:checked {
    background-color: #007bff;
    color: #fff;
  }
  
  


  /* Media queries for responsiveness */

  @media only screen and (max-width: 768px) {

      /* Adjust layout for smaller screens */
      .container {
          flex-direction: column;
          max-width: 500px;
      }

      .login {
          width: 100%;
          margin-bottom: 30px;
      }

      .pic img {
          width: 100%;
          height: auto;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
      }

      form {
          width: 80%;
          margin: 30px auto;
      }
  }

  @media only screen and (max-width: 480px) {

      /* Adjust layout for even smaller screens */
      .container {
          max-width: 450px;
          margin-top: 10rem;
          margin-left: 0rem;
      }

      .pic img {
          width: 100%;
          height: auto;
          border-radius: 0;
      }

      input {
          font-size: 0.9rem;
      }

      button {
          font-size: 1rem;
      }
  }
  p.details{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .readmore{
    cursor: pointer;

  }
  #imgsrc{
    width: 400px;
    margin-top: 22rem;
    border-radius: 20px;
    margin-left: 6rem;
  }

  /* doctor page */


  .appointDetails {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 15rem;
  }
  
.appointment-card{
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
}
.each {
    margin-bottom: 10px;
}



h2 {
    margin: 0;
    font-size: 2rem;
}

.each > div {
    margin-bottom: 5px;
    font-size: 1rem;
}

.each > div:first-child {
    
    font-size: 1rem;
}

.each button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#reject {
    background-color: #f44336;
}

#imgsrc{
  width: 400px;
  margin-top: 22rem;
  border-radius: 20px;
  margin-left: 6rem;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile {
    width: 600px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    margin-top: 16rem;
  }
  
  .profile h2 {
    text-align: center;
  }
  
  .profile-info {
    margin-top: 40px;
  }
  
  .profile-field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-field label {
    width: 200px;
    font-weight: bold;
  }
  
  .profile-field span {
    flex-grow: 1;
  }
  
  #edit-button {
    width: 65%;
    margin-top: 40px;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 9rem;
  }
  
  #edit-button:hover {
    background-color: #0056b3;
  }
  
  .btn-2 {
    display: inline-block;
    margin-top: 2rem;
    margin-left: 15rem;
    margin-bottom: 4rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}